<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Save</div>
                <div class="panel-body">
                    <form name="formAdd"
                        ng-submit="submit()"
                        novalidate
                    >
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <textarea class="form-control" name="description" ng-model="fields.description" required>{{ fields.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Amount</label>
                            <input class="form-control" name="amount" ng-model="fields.amount" value="{{ fields.amount }}" required />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date</label>
                            <input class="form-control datepicker" name="date" ng-model="fields.date" value="{{ fields.date }}" required />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Time (24hs format)</label>
                            <div class="row">
                                <select class="form-control time-select" ng-model="fields.hour" required>
                                    <option ng-repeat="hh in timeHours" value="{{ hh }}">{{ hh }}</option>
                                </select>
                                <select class="form-control time-select" ng-model="fields.minute" required>
                                    <option ng-repeat="mm in timeMinutes" value="{{ mm }}">{{ mm }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Comment</label>
                            <textarea class="form-control" ng-model="fields.comment">{{ fields.comment }}</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>